:root {
  --imagenFondoCarrusel: url("../../../../src/assets/images/fondo1W-S.jpeg"); 
}

.img-bg-descubre {
  background-image: var(--imagenFondoCarrusel);
  background-size: cover;
  background-position: center;
}

.img-bg-transforma {
  background-image: var(--imagenFondoCarrusel);
  background-size: cover;
  background-position: center;
}

.img-bg-optimiza {
  background-image: var(--imagenFondoCarrusel);
  background-size: cover;
  background-position: center;
}
