:root {
  --imagenFondoCarrusel: url("../../../../src/assets/images/fondo1W-S.jpeg"); 
}

.img-bg-descubre {
  background-image: var(--imagenFondoCarrusel);
  background-position: top;
  object-fit: cover;
}

.img-bg-transforma {
  background-image: var(--imagenFondoCarrusel);
   background-position: left;
  object-fit: cover;
}

.img-bg-optimiza {
  background-image: var(--imagenFondoCarrusel);
   background-position: right;
  object-fit: cover;
}
